.device_container {
    background-color: #dfdfff;
    display: flex;
    border-radius: 15px;
    padding: 2%;
    
}

.answers {
    padding: 2%;
    margin: 2%;
}
.device_image_render{
    padding: 1%;
    background-color: #ffffff;
    border-radius: 15px;
    width: 40%;

}
.answers{
    float: center;
    padding-left: 5%;

}
h2 {
    text-align: center;
    font-size: 32px;;
}
h3 {
    text-align: center;
    font-size: 24px;
}
img {
    width: 60%;
    float: center;
    padding-left: 5%;
}
textarea {
    font-family: 'Merriweather', sans-serif;
    width:100%;
    padding-left: 10%;
}
label {
    text-align: center;
}
button {
    background-color: violet;
    padding-left: 2%;
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
}