.gallery_container {
    background-color: #ECF241;
    font-family: 'Merriweather', sans-serif;
    padding: 2%;
    text-align: center;
}
.device_container {
    display:flex;
    justify-content: center;
}
.device_image_upload {
    background-color: #BBE64E;
    width: 25%;
}
.input_form {
    background-color: #BBE64E;
}
.outputform{
    background-color: #BBE64E;
}
.add2_gallery {
    background-color: violet;
    font-family: 'Merriweather', sans-serif;
    padding: 1%;
}
