.home_container {
    background-color: white;
    padding: 2%;
}
h1 {
    font-family: 'Meriweather', sans-serif;
    color: #3F018A;
}
h3 {
    font-family: 'Meriweather', sans-serif;
    color: #9582FF;
    text-align: left;
}
img {
    width: 45%; 
}
a:link {
    color: #3F018A;
}
a:hover{
    color: #BBE64E;
}
a:visited {
    color: #9582FF;
}